* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid #c00707; */
}

body {
    font-family: Verdana;
    font-size: 14px;
    color: #d4d4d4;
    background: #222222;
}

p {
    line-height: 20px;
}

a {
    color: #d4d4d4;
    text-decoration: none;
}

a:hover {
    color: #ffcb06;
}

main {
    width: 1280px;
    margin: 0 auto;
}

header {
    background: #222222;
    padding: 55px 160px 125px 160px;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 70px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-li {
    margin-right: 35px;
}

.mail-icon {
    margin-right: 25px;
}

.descriprion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.descr-left{
    margin-left: 130px;
}

.descr-left h2 {
    font: bold 45px "Courier New";
    color: #ffffff;
    margin-bottom: 60px;
}

.descr-left p{
    margin-bottom: 60px;
}

.button-head {
    height: 50px;
    width: 240px;
    background: #ffcb06;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-head span {
    font-weight: bold;
}

.button-head:hover{
    background: #a48614;
}

.button-head:active {
    background: #5e5656;
    color: #000000;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding: 85px 160px;
    background: #131313;
}

.advantages p {
    margin-top: 40px;
}

.advantages div {
    width: 180px;
}

.content {
    background: #ffffff;
    color: #222222;
    padding: 85px 160px 55px 160px;
}

.content-top {
    display: flex;
    justify-content: space-between;
}

.content-top h2 {
    font-size: 24px;
    font-family: "Courier New";
    color: #131313;
    margin-bottom: 30px;
}

.top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advices{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.advices div {
    width: 440px;
}

.advices h1 {
    font-size: 24px;
    font-family: "Courier New";
    color: #131313;
    margin-bottom: 40px;
}

.advices li {
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

.advices li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffcd06;
    left: -25px;
    top: 5px;
}

.advices ul {
    margin-left: 25px;
}

.advices span {
    font-weight: bold;
}

.form {
    background: #f0f0f0;
    color: #222222;
    padding: 85px 160px 85px 160px;
    display: flex;
    justify-content: space-between;
}

.form h2 {
    font: 24px "Courier New";
    color: #131313;
    margin-bottom: 50px;
}

input[type="text"] {
    color: #000000;
    font-family: sans-serif;
    border: none;
    padding: 20px;
}

.input {
    width: 440px;
    margin-bottom: 8px;
}

.input-height {
    margin-bottom: 35px;
    width: 212px;
}

.input-weight {
    width: 212px;
    margin-left: 11px;
}

form span {
    padding-left: 15px;
}

.form-button {
    width: 240px;
    height: 50px;
    background: #222222;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.flights {
    background: #222222;
	padding: 85px 160px 85px 160px;
}

.form-button:hover {
    background: #000000;
}

.form-button:active {
    background: #474747;
}

.form-button span{
    color: #ffffff;
}

.table div {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #555555;
	
}
.table p {
	padding: 20px 0px 20px 20px;
    width: 180px;
}

.table-description {
    background: #222222;
    display: flex;
    justify-content: space-between;
	margin-bottom: 85px;
}

.table-description p {
    font: 13px Verdana;
    width: 440px;
}

.table-description h2 {
    color: #feca30;
    font: bold 24px "Courier New";
    padding: 20px 0px 20px 20px;
}

.table-description a {
    color: #feca30;
    text-decoration: underline;
}

.table-description a:hover {
    color: #000000;
}

.table-top {
    background: #000000;
    font-weight: bold;
}

footer {
    padding: 60px 160px 80px 160px;
    background: #131313;
    display: flex;
    justify-content: space-between;
}

.footer-logo span {
    padding-left: 15px;
}

.rights {
    font-size: 13px;
    color: #555555;
    margin-top: 110px;
}

.about-us {
    color: #ffffff;
    padding: 20px 0px 20px 20px;
    width: 180px;
}

.about-us h2 {
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 20px;
    border-bottom: 1px solid #555555;
}

.about-us li{
    font-size: 13px;
    color: #888888;
    margin-bottom: 25px;
}

.li-top {
    margin-top: 55px;
}

.about-us a {
    font-size: 13px;
    color: #888888;
}
